{% extends "base.html" %}

{% block content %}
<!-- 左侧DNA螺旋装饰 -->
<div class="biochem-helix" style="left: 10px; top: 0; height: calc(100vh - 60px);"></div>
<!-- 右侧DNA螺旋装饰 -->
<div class="biochem-helix" style="right: 10px; top: 0; height: calc(100vh - 60px); animation-delay: 2s;"></div>

<!-- 浮动分子装饰 -->
<div class="floating-molecule" style="top: 20%; left: 5%; width: 80px; height: 80px; animation-delay: 0s;"></div>
<div class="floating-molecule" style="top: 60%; right: 8%; width: 60px; height: 60px; animation-delay: 1s;"></div>
<div class="floating-molecule" style="top: 40%; right: 5%; width: 100px; height: 100px; animation-delay: 2s;"></div>

{{ super() }}
{% endblock %}